# Database
DATABASE_URL=postgresql+asyncpg://<username>:<password>@localhost:5432/<dbname>
DATABASE_READONLY_URL=postgresql+asyncpg://<readonly_username>:<password>@localhost:5432/<dbname>

# LLM
GROQ_API_KEY=your-groq-api-key-here
GROQ_MODEL_NAME=openai/gpt-oss-120b

# ML
ML_MODELS_DIR=./ml_models

# Server
LOG_LEVEL=DEBUG
CORS_ORIGINS=["http://localhost:3000"]
